apiVersion: v1
kind: Service
metadata:
  name: {{ template "ctsdb.fullname" . }}
  labels:
{{ include "ctsdb.labels" . | indent 4 }}

spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "ctsdb.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
